/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	h1{
		font-size: 35px;
	}
	.main_head{
		background-position: -145px 0;
	}
	.item_spec {
    margin: 0 60px;
	}
	.form_count h2{
		font-size: 42px;
	}
	.form_count p{
		padding: 0;
		
	}
	.order .mini .button, .order .maxi .button{
		padding: 30px 10px;
	}


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.title h1 {
    margin: 6px 0;
    line-height: 43px;
	}
	.main_head{
		background-position: right;
	}
	.main_head .form_consult{
		float: none;
		display: inline-block;
	}
	.item_spec {
    margin: 0 10px;
	}
	.form_count h2{
		font-size: 34px;
		line-height: 44px;
	}
	#countdown {
    margin-top: 192px;
    text-align: left;
	}
	.countdownHolder{
		font-size: 32px;
	}
	.form_count p{
		margin-top: 10px;
		font-size: 33px;
	}
	.form_count{
		height: 652px;
	}
	.order .maxi {
    transform: scale(1);
	}
	.owl-carousel .owl-item img.docs{
		display: none;
	}
	.slide__img{
		width: 200px;
		height: 200px;
		float: left;
		margin-right: 20px;
	}
	.slide__descr .blue_descr{
		display: none;
	}
	.slide__descr {
    font-size: 27px;
    line-height: 28px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next{
		top: 187px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev{
		left: -74px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-next{
		right: -74px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.top_line{
		padding: 10px 10px;
	}
	.top_line .contact_wrap p{
		font-size: 31px;
	}
	h1{
		font-size: 30px;
	}
	.title h1{
		line-height: 39px;
	}
	.form_consult{
		width: 450px;
	}
	.form_consult h4{
		font-size: 27px;
		line-height: 35px;
	}
	.form_consult input, .form_consult button{
		font-size: 20px;
		padding: 13px 35px;
	}
	.form_consult p{
		font-size: 23px;
	}
	.main_head{
		min-height: 670px;
	}
	.item_spec:nth-child(3) {
    margin-left: 0;
	}
	.title_wrap h2{
		font-size: 37px;
	}
	.items_sect_spec{
		margin-top: 0;
	}
	.item_does{
		margin-left: 0;
	}
	#countdown {
    margin-top: 25px;
    text-align: center;
	}
	.form_count p::before{
		right: -34px;
		top: 94px;
		transform: rotate(-90deg);
	}
	.form_count{
		height: 985px;
	}
	.order .title_wrap h2{
		margin-bottom: 40px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next{
		background-image: url(../img/arr_sprite_xs.png);
		width: 31px;
		height: 52px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-next{
		background-position: -31px 0;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev{
		left: -47px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-next{
		right: -47px;
	}
	.slide__img{
		display: inline-block;
		float: none;
	}
	.slide__descr_title{
		text-align: center;
	}
	.slide__descr {
    font-size: 24px;
    line-height: 25px;
	}
	.receive .button_wrap .button{
		padding: 32px 140px;
	}



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.top_line{
		text-align: center;
	}
	.top_line .logo{
		float: none;
		margin: 0;
	}
	.top_line .contact_wrap{
		float: none;
		text-align: center;
	}
	.main_head .form_consult{
		margin-top: 40px;
	}
	.form_consult{
		width: 290px;
	}
	.form_consult h4 {
    font-size: 17px;
    line-height: 25px;
	}
	.form_consult input, .form_consult button{
		font-size: 14px;
		padding: 10px 12px;
		margin: 15px 0;
	}
	.form_consult p {
    font-size: 15px;
	}
	.main_head {
    min-height: 475px;
	}
	.title_wrap h2{
		font-size: 34px;
		line-height: 40px;
		margin-top: 10px;
	}
	.title_wrap{
		margin-top: 0;
	}
	.section_form #form_sect input, .section_form #form_sect button{
		font-size: 20px;
	}
	.section_form{
		padding: 48px 0;
	}
	.item_does__arr{
		width: 290px;
		height: 140px;
		padding: 0 35px 0 57px;
		font-size: 28px;
		line-height: 31px;
	}
	.item_does__arr span{
		top: 40px;
	}
	.item_does:nth-child(4) .item_does__arr span {
    top: 54px;
	}
	.how_does{
		padding: 0;
	}
	.items_does {
    margin-top: 60px;
	}
	.countdownHolder{
		font-size: 23px;
		width: 290px;
	}
	.form_count p::before{
		display: none;
	}
	.form_count p {
    font-size: 27px;
    line-height: 36px;
    text-align: center;
	}
	.form_count h2{
		display: none;
	}
	form input, form button, form textarea{
		font-size: 20px;
	}
	.form_count {
    height: 728px;
	}
	.order img{
		min-height: auto;
		width: 290px;
	}
	.order .mini tr:first-child td, .order .maxi tr:first-child td{
		font-size: 34px;
	}
	.order .mini .button, .order .maxi .button{
		font-size: 17px;
	}
	.slide__descr_title h3{
		font-size: 35px;
		line-height: 32px;
	}
	.slide__descr_title p {
    font-size: 20px;
	}
	.slide__descr {
    font-size: 18px;
    line-height: 21px;
	}
	.slide__descr ol li {
    margin: 7px 0;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev{
		left: -38px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-next{
		right: -38px;
	}
	.receive{
		font-size: 25px;
		line-height: 28px;
	}
	.receive .button_wrap .button {
    padding: 18px 60px;
	}
	.footer .form_consult button{
		font-size: 16px;
	}
	.footer .form_consult h4{
		line-height: 32px;
	}
	.wrap_descr_footer .descr h3{
		font-size: 32px;
	}


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}